
.wereTitle {    
    font-family: 'Bungee Shade', sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
}

.subTitle {
    font-family: 'Bungee Shade', cursive;
}

.leftList {
    text-decoration: underline;
}

li a {
    font-size: 1.5em;
}
