/* Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Scrollbar  */
body::-webkit-scrollbar {
  width: 0.3em;
  overflow: scroll;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: "Montserrat", cursive;
    font-size: 1.4rem;
}

.header{
  display: grid;
  position: fixed;
  width: 100%;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: black;
  opacity: .85;
}

.miniLogo{
  grid-column: 1 / 2;
  text-align: start;
  padding-left: 20px;
  font-size: 2.0rem;
  font-family: "Bungee Shade", cursive;
}

.navbar{
  grid-column: 2 / 3;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.menuOptions>a{
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

a:hover{
  font-size: 1.25rem;
  font-weight: bold;
}

a:visited{
  color: whitesmoke;
}

.filler{
  grid-column: 3 / -1;
}

.container{
    display: grid;
    margin: 0 auto;
    height: 100vh;/*needed for scroll-snap*/
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    max-width: 1200px;
    align-items: center;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.content{
    display: grid;
    grid-column: 1 / -1;
    align-content: center;
    text-align: center;
    height: 100vh;
    margin: 10px;
    scroll-snap-align: start;
}

#whoWeAre {
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

.djWebDevIs {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.bios{
  display: grid;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  grid-template-columns: repeat(2, auto);
}

h1, h2, h3 {
  font-family: "Bungee Shade", cursive;
  letter-spacing: -0.1rem;
}

h1 {
  font-size: 10rem;
  line-height: 1.2;
}

h2{
  font-size: 7.5rem;
} 

h3{
  font-size: 7.0rem;
}

h4 {
  font-size: 2.5rem;
}

h5{
  font-size: 2.0rem;
}

p {
  font-size: 1.5rem;
}

button {
  font-family: "Bungee", cursive;
  color: whitesmoke;
  background-color: black;
  border: none;
}

button:hover {
  cursor: pointer;
}

/* email-modal component  */

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: black;
  border: 1px solid white;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}
