/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Scrollbar  */
body::-webkit-scrollbar {
  width: 0.3em;
  overflow: scroll;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: "Montserrat", cursive;
    font-size: 1.4rem;
}

header > .navbar {
  padding: 1rem;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  grid-template-columns: repeat(2, auto);
}

header > .navbar > div > ul > li {
  display: inline;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

header > .navbar > div > ul > li > a {
    text-decoration: underline;
    color: white;
    font-size: 12px;
}

.container{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    max-width: 1200px;
    align-items: center;
}

.content{
    display: grid;
    align-content: center;
    text-align: center;
    height: 100vh;
    margin: 10px;
}

#whoWeAre{
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.djWebDevIs {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.bios {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  grid-template-columns: repeat(2, auto);
}

h1, h2, h3 {
  font-family: "Bungee Shade", cursive;
  letter-spacing: -0.1rem;
}

h1 {
  font-size: 10rem;
  line-height: 1.2;
}

h2, h3 {
  font-size: 7rem;
}

h4 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

button {
  font-family: "Bungee", cursive;
  color: whitesmoke;
  background-color: black;
  border: none;
}

button:hover {
  cursor: pointer;
}

/* email-modal component  */

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: black;
  border: 1px solid white;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}
