/* Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Scrollbar  */
body::-webkit-scrollbar {
  width: 0.3em;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0.3em;
  overflow: scroll;
  scrollbar-width: none;
}

body {
  background-color: black;
  color: whitesmoke;
  font-family: "Montserrat", cursive;
  font-size: 1.4rem;
}

.header {
  display: grid;
  position: fixed;
  width: 100%;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: black;
  /* opacity: .85; */
  line-height: 2;
}

.miniLogo {
  grid-column: 1 / 2;
  text-align: start;
  padding-left: 20px;
  font-size: 2rem;
  font-family: "Bungee Shade", cursive;
}

.navbar {
  display: grid;
  grid-column: 2 / 3;
  align-self: center;
  justify-self: center;
}

.menuOptions > a,
.social > a,
.formButtons > button {
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

a,
button {
  text-decoration: none;
  color: rgb(180, 180, 180);
}

a:hover,
button:hover {
  color: whitesmoke;
}

a:visited {
  color: none;
}

.filler {
  grid-column: 3 / -1;
}

.container {
  display: grid;
  margin: 0 auto;
  height: 100vh; /*needed for scroll-snap*/
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  max-width: 1900px;
}

.content {
  display: grid;
  grid-column: 1 / -1;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 100vh; /*needed for scroll-snap*/
  margin: 10px;
  /* max-width: 1200px; */
  scroll-snap-align: start;
}

#whoWeAre {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}

#whoWeAre > h2 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

#micDrop > div {
  max-width: 65%;
  margin: 0 auto;
}

/* .bios {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: 1fr;
  justify-content: center;
} */

.bios {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-template-rows: 1fr;
  justify-content: center;
}

.bioD {
  justify-self: end;
  margin-right: 17px;
}

.bioJ {
  justify-self: start;
}

#whatWeDo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}

#whatWeDo > h2 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.dos {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: 1fr;
}

.dos > div {
  max-width: 75%;
  margin: 0 auto;
}

.dos > div,
.bios > div,
.micDropBody {
  padding: 20px;
}

.dos > div > p {
  padding-top: 13px;
}

#wherewevebeen {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}

#work {
  display: flex;
}

.image-box {
  height: 300px;
  width: 300px;
}

.image-box-inner {
  background: #333;
	display: block;
	margin: 10px;
	overflow: hidden;
}

.image-box-inner .inner-link {
  align-items: center;
  align-content: center;
	background-color: rgba(0,0,0,.1);
  display: flex;
	flex-wrap: wrap;
	height: 300px;
	mix-blend-mode: normal;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.image-box-inner .inner-link:hover {
  background-color: rgba(255, 255, 255, 0.5); 
	mix-blend-mode: hard-light;
}

.image-box-inner .inner-link:hover .inner-anchor{
  margin-top: -5px;
}

.inner-title {
  display: block;
	font-weight: 700;
	margin: 0 0 20px;
	width: 100%;
}

#box-1 .image-box-inner {
  background-image: url('https://picsum.photos/1024/768?image=1033');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

#box-2 .image-box-inner {
  background-image: url('https://picsum.photos/1024/768?image=967');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

#box-3 .image-box-inner {
  background-image: url('https://picsum.photos/1024/768?image=924');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

#statusMessage{
  position: fixed;
  top: 0;
  left: 33.5%;
  margin-top: 20px; 
  padding: 5px;
  width: 35%;
  height: auto;
  text-align: center;
}

#statusMessage>p{
  font-size: 1.3rem;
}

.success{
  background-color: rgb(14, 172, 93);
}

.failure{
  background-color: rgb(241, 93, 88);
}

h1,
h2,
h3 {
  font-family: "Bungee Shade", cursive;
  letter-spacing: 0.4rem;
  line-height: 1.2;
}

h1 {
  font-size: 12rem;
}

h2 {
  font-size: 7.5rem;
}

h3 {
  font-size: 7rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

.menu>p, .menu-close>p {
  font-size: 1.25rem;
}

.menu-close>p {
  text-align: center;
  padding-right: 10px;
}

/* button {
  font-family: "Bungee", cursive;
  color: whitesmoke;
  background-color: black;
  border: none;
}

button:hover {
  cursor: pointer;
} */

/* email-modal component  */
.modal-background {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  align-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.596);
}

.modal {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: black;
  border: 1px solid whitesmoke;
}

.social {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  text-align: center;
  margin: 10px;
}

.contactForm {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 20px;
}

.contactForm > div {
  margin: 0px 10px 10px 20px;
}

label {
  font-size: 1.2rem;
}

.formName,
.formEmail {
  grid-column: 1 / 2;
}

.formMessage,
.formButtons {
  grid-column: 1 / -1;
}

.formName {
  grid-row: 1 / 2;
}

.formEmail {
  grid-row: 2 / 3;
}

.formMessage {
  display: grid;
  grid-template-rows: auto;
  grid-row: 3 / 4;
}

input,
textarea {
  font-family: "Montserrat", cursive;
  font-size: 1.2rem;
  margin-top: 10px;
}

input {
  width: 100%;
  height: 25px;
  padding: 5px;
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 5px;
  border-radius: 5px;
}

.formButtons {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  justify-self: center;
}

button {
  background-color: black;
}

.modalLogo {
  grid-row: 2 / -1;
  grid-column: 2 / 3;
  margin: 0px 40px 40px 40px;
}

@media only screen and (max-width: 1300px) {
  .miniLogo {
    align-self: start;
  }
  .navbar {
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    margin: 0;
    padding-right: 20px;
    justify-self: end;
  }

  .menuOptions {
    display: grid;
    justify-content: end;
    align-content: end;
    grid-row: 3 / -1;
    text-align: right;
  }
  .menu-close>p {
    text-align: right;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 1099px) {
  .create {
    grid-column: 1 / -1;
    max-width: 471.6px !important;
  }
}

@media only screen and (max-width: 910px) {
  h2 {
    font-size: 13vw;
  }
}

@media only screen and (max-width: 902px) {
  
  h3 {
    font-size: 11.5vw;
  }

  h4 {
    font-size: 3.8vw;
  }

  h5 {
    font-size: 3.8vw;
  }


  p {
    font-size: 2.3vw;
  }

}

@media only screen and (max-width: 810px) {

  p {
    font-size: 12px;
  }

  .bioD, .bioJ{
    justify-self: center;
  }

  .bioD {
    margin-right: 0;
  }
}

@media only screen and (max-width: 740px) {
  .modal-background {
    background-color: rgba(0, 0, 0);
  }
  .modal {
    grid-column: 1 / -1;
    border: none;
  }
  .modalLogo {
    display: none;
  }
  .contactForm {
    grid-column: 1 / -1;
  }

  .miniLogo { 
    display: none;
  }

  .navbar {
    display: grid;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    padding-right: 0;
    padding-top: 10px;
  }

  .menuOptions {
    justify-content: center;
    align-content: center;
    grid-row: 3 / -1;
    text-align: center;
  }

  .menu-close>p{
    text-align: center;
  }
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 33.2vw;
  }
}

@media only screen and (max-width: 373px) {
  .content {
    width: 300px;
    justify-self: center;
  }
}
