/* Reset */
*{
    margin: 0;
    padding: 0;
}

/* Scrollbar  */
body::-webkit-scrollbar {
    width: 0.3em;
    overflow: scroll;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: "Montserrat", cursive;
    font-size: 1.4rem;
}

<<<<<<< Updated upstream:html/public/DJWebDevV3/styles/djstyledev.css
header > .navbar {
    padding: 1rem;
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    grid-template-columns: repeat(2, auto);
}

header > .navbar > div > ul > li {
    display: inline;
    text-decoration: none;
    list-style: none;
}

header > .navbar > div > ul > li > a {
    text-decoration: underline;
    color: white;
    font-size: 12px;
=======
/* Reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
>>>>>>> Stashed changes:html/public/djstyledev.css
}

.container{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    max-width: 1200px;
    align-items: center;
}

.content{
    display: grid;
    align-content: center;
    text-align: center;
    height: 100vh;
    margin: 10px;
}

#whoWeAre{
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.djWebDevIs{
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.bios{
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    grid-template-columns: repeat(2, auto);
}

h1, h2, h3{
    font-family: 'Bungee Shade', cursive;
    letter-spacing: -.1rem;
}

h1{
    font-size: 10.0rem;
    line-height: 1.2;
}

h2, h3{
    font-size: 7.0rem;
}

h4 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
}

button{
    font-family: 'Bungee', cursive;
    color: whitesmoke;
    background-color: black;
    border: none;
}

button:hover{
    cursor: pointer;
}


