#top-content {
    margin-bottom: 5em;
}

.leftInclined {
    padding-bottom: 5em;
    margin-bottom: 5em;
}

.leftInclined img {
    max-width: 100%;
    height: auto !important;
    display: flex;
    align-items: stretch;
    box-shadow: 5px 5px 5px 5px black;
}

.rightInclined {
    padding-bottom: 5em;
    margin-bottom: 5em;
}

.rightInclined img {
    max-width: 100%;
    height: auto !important;
    display: flex;
    align-items: stretch;
    box-shadow: 5px 5px 5px 5px black;
}