/* Scrollbar  */
body::-webkit-scrollbar {
    width: 0.3em;
    overflow: scroll;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: "Montserrat", cursive;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
}

.container{
    margin-top: -20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.content{
    display: grid;
    align-content: center;
    text-align: center;
    height: 100vh;
}

#whoWeAre{
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto 1fr;
}

.djWebDevIs{
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.bios{
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    grid-template-columns: repeat(2, auto);
}

h1, h2, h3{
    font-family: 'Bungee Shade', cursive;
    letter-spacing: -.1rem;
}

h1{
    font-size: 10.0rem;
    line-height: 1.2;
}

h2, h3{
    font-size: 7.0rem;
}

/* .header{
    display: grid;
    grid-template-columns: 1fr auto;
} */

/* .headerLogo{
    
} */

button{
    font-family: 'Bungee', cursive;
    color: whitesmoke;
    background-color: black;
    border: none;
}

button:hover{
    cursor: pointer;
}

/* .navbar{
    display: grid;
}

#menuButton{

}

.menuOptions{
    display: grid;
}

.lightSwitch{
 
}

#bulb{
    width: 2.4rem;
} */

